__pycache__
docker/xtts-server
xtts_api_server/output
xtts_api_server/speakers
xtts_api_server/xtts_models
.venv
.classpath
.env
.git
.gitignore
.project
.settings
.toolstarget
.vs
.vscode
*.*proj.user
*.dbmdl
*.jfm
bin
charts
docker-compose*
compose*
node_modules
npm-debug.log
obj
secrets.dev.yaml
values.dev.yaml